{% extends "::base.html.twig"%}
{% form_theme formation_form '::bootstrap-form.html.twig' %}
{%block title%} 
{{ parent()}} - formaCreate
{% endblock %}

{% block body %}
	<h2 class="pageTitle">Créer une formation</h2>

	{{ form(formation_form, {'attr':{'novalidate': 'novalidate'}}) }}


	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{asset('css/jquery-ui.min.css')}}
		"/>
		{{ parent()}}

	{% endblock %}

{% endblock %}

{% block aside %}
	{{ form(tag_form, {'attr':{'id': 'monForm','novalidate': 'novalidate'}}) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('js/jquery-ui.min.js')}}"></script>
	<script>
		$('#kikala_frontbundle_formation_dateFormation').datepicker($.datepicker.regional["fr"]);
	$(document).ready(function() {
    // Lorsque je soumets le formulaire
    $('#monForm').on('submit', function(e) {
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
        //recuperation des bvaleur
 		var tag=$('#kikala_frontbundle_tag_name').val();
 		//verif
 		if(tag ===''){
 			alert('veillez remplir le champs');
 		} else{
 			$.ajax({
 				type:'POST',
 				url:"{{path('kikala_front_tagCreate')}}",
 				data : $('#monForm').serialize(),
 				success:function(html){
 					console.log(html);
 					var option= $("<option>").html(html.name).attr({id : html.id,value : html.name});
 					$('#kikala_frontbundle_formation_tag').append(option);
 				}
 			});
 		}
 		});
});
	</script>
{% endblock %}