{% extends "::base.html.twig"%}
{% form_theme formation_form '::bootstrap-form.html.twig' %}
{%block title%} 
{{ parent()}} - formaCreate
{% endblock %}
{% block body %}

<p>create_formation
{{ form(formation_form, {'attr':{'novalidate': 'novalidate'}}) }}
Cet écran permet d’offrir une nouvelle formation, par le biais d’un formulaire.

Les champs du formulaire sont les suivants : 

L’intitulé
Une image représentant la formation
Le descriptif
La date et l’heure de la formation
La durée (en heures)
L’adresse, la ville, le code postal, le pays
Le nombre de places

commentaire </p>

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('css/jquery-ui.min.css')}}
	"/>
	{{ parent()}}

{% endblock %}

{% endblock %}

{% block aside %}
	{{ form(tag_form, {'attr':{'novalidate': 'novalidate'}}) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('js/jquery-ui.min.js')}}"></script>
	<script>
		$('#kikala_frontbundle_formation_dateFormation').datepicker($.datepicker.regional["fr"]);
	</script>
{% endblock %}