{% extends "::base.html.twig"%}
{% form_theme formation_form '::bootstrap-form.html.twig' %}
{%block title%} 
{{ parent()}} - formaCreate
{% endblock %}
{% block body %}
<h2 class="pageTitle">Créer une formation</h2>

{{ form(formation_form, {'attr':{'novalidate': 'novalidate'}}) }}


{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('css/jquery-ui.min.css')}}
	"/>
	{{ parent()}}

{% endblock %}

{% endblock %}

{% block aside %}
	{{ form(tag_form, {'attr':{'novalidate': 'novalidate'}}) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('js/jquery-ui.min.js')}}"></script>
	<script>
		$('#kikala_frontbundle_formation_dateFormation').datepicker($.datepicker.regional["fr"]);
	</script>
{% endblock %}