{% extends "::base.html.twig"%}
{%block title%} 
{{ parent()}} - kikologue
{% endblock %}
<<<<<<< HEAD
{% block body %}

{{ user.pseudo }}
{{ user.kikos }}

=======
>>>>>>> 50e5b9e38adfd752fb8b7fb3d068b9385c98ad83


Bonjour {{user.pseudo}}
<p>Cet écran présente un résumé des informations pertinentes sur un kikologue, et permet de naviguer aisément vers les autres pages du “compte”. 
Le pseudo et l’image de profil sont affichés au haut de l’écran. Auprès de ceux-ci, un bouton permet de “Modifier son profil”.

Le nombre de kikos en banque est affiché. Auprès de celui-ci, un lien permet d’accéder à la page de “Création d’une formation”.

Le nombre de formation dispensées et le nombre de formations suivies sont aussi affichées, de manière graphique. Auprès de ces éléments, un bouton permet d’accéder à la page “Mes formations” et à “Mes inscriptions
vous avez: {{user.kikos}}kikos
<a href="{{ path('kikala_front_formaCreate') }}">Cree une Formation</a> </p>
<a href="{{ path('kikala_front_myForma') }}">Mes  Formation</a>
<a href="{{ path('kikala_front_inscriptions') }}">mes inscription</a>
{% endblock %}
{% block aside %}
	
	{% if user.filename %}
		<img src="{{ asset('img/profilpicture/'~user.filename) }}" height="320" width="285" />
	{% else %}
		<img src="{{ asset('img/profilpicture/default.jpg') }}" height="320" width="285" />
	{% endif %}

{% endblock %}

