{% extends "::base.html.twig"%}
{%block title%} 
{{ parent()}} - login
{% endblock %}
{% block body %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Login :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />
 
 <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Keep me logged in</label>
    {#
        Si vous voulez contrôler l'URL vers laquelle l'utilisateur est redirigé en cas de succès
        (plus de détails ci-dessous)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit">login</button>
</form>
<a href="{{path('kikala_front_register')}}" title="inscription">Inscription</a>
<a class="forget" href="{{path('kikala_front_forgot')}}" title='mot de pass oublier'>mot de pass oublier???</a>
{% endblock %}