{% extends "::base.html.twig"%}
{%block title%} 
{{ parent()}} - myForma
{% endblock %}
{% block body %}
<h2 class="pageTitle"> Informations sur : {{ user.pseudo }}</h2>
  
<div class="description col-xs-12"><span class="intituleLong">Formation qu'il a animé</span>
    <ul class="description col-xs-12">
        {% for formation in formations %}
        <span class="glyphicon glyphicon-ok-sign"></span><li class="listeForm col-xs-6"> {{ formation.name }}</li>
        <div class="col-xs-12 col-md-4 supFormation">
            {% if formation.isActive == 1 %}
                <a href="{{ path('kikala_front_formAnnul', {'id' : formation.id}) }}" 
                 class="btn btn-primary btn-xs col-xs-12 supforma">Supprimer</a>
            {% else %}	
            	<p class="annule col-xs-12" >Annuler</p>
            {% endif %}
	    </div>
        {% endfor %}
  </ul>
</div>

<p class="description col-xs-12">
Cette page affiche la liste de toutes les formations dispensées (ou à dispenser) par le kikologue connecté. 
Un bouton permet d’annuler une formation à dispenser. </p>
<p class="description col-xs-12">Sur clic de ce bouton, le kikologue est averti qu’il perdra la totalité de ses kikos en banques s’il confirme l’annulation, et que cette annulation sera conservée dans son historique (et affichée publiquement).</p>

<p class="description col-xs-12">À noter qu’il n’est pas possible de modifier une formation publiée. Le kikologue doit contacter les administrateurs pour le faire.  </p>
{% endblock %}

{% block javascripts %}
{{ parent() }}
	<script src="{{asset('js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript">
    	$('.supforma').click(function(){
	       return confirm('vous allez perdre vos kikos!')
	   });
	</script>
{% endblock %}