{% extends "::base.html.twig"%}
{% form_theme register_form '::bootstrap-form.html.twig' %}
{%block title%} 
{{ parent()}} - register
{% endblock %}
{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{asset('css/jquery-ui.min.css')}}
		"/>
		{{ parent()}}

	{% endblock %}
{% block body %}
<h1>Créez votre Kikologue !</h1>

{{ form(register_form, {'attr':{'novalidate': 'novalidate'}}) }}



{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('js/jquery-ui.min.js')}}"></script>
	<script>
		$('#kikala_frontbundle_userkikologue_birthday').datepicker($.datepicker.regional["fr"]);
	</script>
{% endblock %}