{% extends "::base.html.twig"%}
{% block title %} 
{{ parent()}} - formaDetail
{% endblock %}
{% block body %}

	<h1 class="pageTitle">{{ formation.name }}</h1>
	<h3 class="description col-xs-12 col-md-8">Catégorie : {{ formation.category.name }}</h3>
	<h2 class="col-xs-12">Descriptif</h2>
	<p class="description col-xs-12 col-md-8">{{ formation.descriptif }}</p>


	<h3 class="description col-xs-12 col-md-3 col-md-offset-1 ">Formateur : 

		<a href="{{ path('kikala_front_kikoDetail', {'id' : formation.getCreator.id})}}">{{ formation.getCreator.pseudo }}</a>

	</h3>



	<h2 class="col-xs-12">Infos</h2>
	<p class="description col-xs-12 col-md-4"><span class="intitule">Date</span> {{ formation.dateFormation|date("d/m/y") }}</p>
	<p class="description col-xs-12 col-md-4"><span class="intitule">Durée</span> {{ formation.duree }} h</p>
	<p class="description col-xs-12 col-md-4"><span class="intitule">Heure</span> {{ formation.heureFormation|date("H:i") }}</p>
	<div class="row adress">
		<p class=" col-xs-12 col-md-4"><span class="intitule">Adresse</span> {{ formation.adresse }}</p>
		<p class=" col-xs-12 col-md-4"><span class="intitule">Ville</span> {{ formation.ville }}</p>
		<p class=" col-xs-12 col-md-4"><span class="intitule">Code postal</span> {{ formation.cp }}</p>
	</div>
	<p class="description col-xs-12 col-md-4"> <span class="nbUserA">{{ formation.nbTotal }}</span><br />Nombre de place :</p>
	<p class="description col-xs-12 col-md-4"> <span class="nbUserB">{{ formation.nbTotal }}</span><br />Nombre d'inscrit :</p>

<div class="col-xs-12">
	<p>Cette page affiche toutes les informations publiques disponibles sur la formation. 

	L’image affichée est de taille moyenne.

	Si l’internaute visitant cette page est connecté et inscrit à la formation, une indication visuelle du genre “Vous êtes inscrit !” est affichée. 
	S’il est connecté et non-inscrit, qu’il possède suffisamment de kikos, et qu’il reste des places, un bouton “Inscrivez-vous !” est affiché. S’il n’a pas assez de kikos, une indication le précise.  
	S’il n’est pas connecté et qu’il reste des places, un bouton “Connectez-vous pour vous inscrire” est affiché. 
	S’il ne reste plus de places, une indication visuelle du genre “Cette formation est complète” est indiquée. 

	Cette page affiche également une mini-fiche sur le kikologue formateur. Un clic sur son nom mène à la page de détail du kikologue. </p>
</div>
{% endblock %}

{% block aside %}
	<p>Formation</p><h2 id="namePseudo"> {{formation.name}}</h2>
	{% if formation.filename %}
		<img src="{{ asset('img/formapicture/'~formation.filename) }}" height="300" width="255" />
	{% else %}
		<img src="{{ asset('img/profilpicture/default.jpg') }}" height="300" width="255" />
	{% endif %}
	<div class="form-group">
        <a href="{{ path('kikala_front_formaIns', {'id' : formation.id}) }}">S'inscrire</button>
    </div> 	
{% endblock %}

