{% extends "::base.html.twig" %}
{% block title %} 
{{ parent() }} - lsForma
{% endblock %}

{% block body %}


{% for formation in formations|slice(0, 10) %}

    {% if formation.dateCreated|date("m/d/Y") >= twoday|date("m/d/Y") %}
    <h1><a href="{{ path('kikala_front_formaDetail', {'id' : formation.id}) }}">{{ formation.name}}</a></h1>
    <p class="description col-xs-12 col-md-8">{{ formation.descriptif }}</p>
    <p class="description col-xs-12 col-md-4">{{ formation.dateFormation|date("d/m/y") }}</p>
	<div class="new"> new </div>
    {% else %}
        
        <h1><a href="{{ path('kikala_front_formaDetail', {'id' : formation.id}) }}">{{ formation.name}}</a></h1>
        <p class="description col-xs-12 col-md-8">{{ formation.descriptif }}</p>
        <p class="description col-xs-12 col-md-4">{{ formation.dateFormation|date("d/m/y") }}</p>
    {% endif %}

{% endfor %}
		
        {% if pagination.page>1 %}
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}"><<</a>
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}"><</a>
        {% endif %}
        {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
            <a{% if p == pagination.page %} class="current-page"{% endif %} 
				href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}
			</a>
        {% endfor %}
        {% if pagination.page<pagination.pages_count %}
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}">></a>
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.pages_count})) }}">>></a>
        {% endif %}



<p> Cet écran affiche les formations en cours (futures), au nombre de 30. Elles sont affichées par date de formation, croissant (la plus proche d’abord). 
Un système de pagination est nécessairement mis en place, afin de voir les éventuelles formations plus lointaines. Les formations passées ne sont pas affichées. </p>
{% endblock %}