{% extends "::base.html.twig" %}
{% block title %} 
{{ parent() }} - lsForma
{% endblock %}

{% block body %}


{% for formation in formations|slice(0, 6) %}

    {% if formation.dateCreated|date("m/d/Y") >= twoday|date("m/d/Y") %}
        <div class="col-xs-12 listeforma"  >
                <h1 class="col-xs-12 col-md-8 new"><a href="{{ path('kikala_front_formaDetail', {'id' : formation.id}) }}">{{ formation.name}}</a></h1>
                <p class="description col-xs-12 col-md-8">{{ formation.descriptif }}</p>
                <p class="description col-xs-12 col-md-8">{{ formation.dateFormation|date("d/m/y") }}</p>
            
            {% if formation.filename %}
                <img class="col-xs-12 col-md-3 col-md-offset-1" src="{{ asset('img/formapicture/small/'~formation.filename) }}" height="150" width="150" />
            
            {% else %}
                <img class="col-xs-12 col-md-3 col-md-offset-1" src="{{ asset('img/profilpicture/default.jpg') }}" height="150" width="150" />
            {% endif %}
        </div>      
            
    	
    {% else %}
        
        <div class="col-xs-12 listeforma" >
                <h1 class="col-xs-12 col-md-8 new"><a href="{{ path('kikala_front_formaDetail', {'id' : formation.id}) }}">{{ formation.name}}</a></h1>
                <p class="description col-xs-12 col-md-8"><span class="intitule">Descriptif </span>{{ formation.descriptif }}</p>
                  <p class="description col-xs-12 col-md-8"><span class="intitule">Tag </span>{{ formation.tag.name }}</p>
                   <p class="description col-xs-12 col-md-8"><span class="intitule">Catégorie </span>{{ formation.category.name }}</p>
                <p class="description col-xs-12 col-md-8"><span class="intitule">Date </span>{{ formation.dateFormation|date("d/m/y") }}</p>
            
            {% if formation.filename %}
                <img class="col-xs-12 col-md-3 col-md-offset-1" src="{{ asset('img/formapicture/small/'~formation.filename) }}" height="150" width="150" />
            
            {% else %}
                <img class="col-xs-12 col-md-3 col-md-offset-1" src="{{ asset('img/profilpicture/default.jpg') }}" height="150" width="150" />
        
            {% endif %}
         </div>    
    {% endif %}

{% endfor %}
	<div class="col-xs-12" >	
        {% if pagination.page>1 %}
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}"><<</a>
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}"><</a>
        {% endif %}
        {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
            <a{% if p == pagination.page %} class="current-page"{% endif %} 
				href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}
			</a>
        {% endfor %}
        {% if pagination.page<pagination.pages_count %}
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}">></a>
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.pages_count})) }}">>></a>
        {% endif %}
    </div>
{% endblock %}

{% block aside %}
    <form action="{{path('kikala_front_search')}}" method="post">  
        <div class="form-group">
          {{ form(Search_form, {'attr':{'id': 'monForm','novalidate': 'novalidate'}}) }}
        </div>
    </form>
{% endblock %}