<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Kikala !{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-3.1.1-dist/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div id="top" >
            <header class="container">
            <div id='logo' class="col-xs-12"> <a href="{{ path('kikala_front_homepage') }}" title="kikala"><img src="{{ asset('img/kikala-logo.png') }}"></a>
                <div>
                  
                </div>
            </div>
                <nav id="navtop" class="col-xs-12 col-md-8">
                    <ul class="nav nav-pills">
                        <li class="dropdown col-xs-12 col-md-1"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('kikala_front_lsForma') }}">lsForma</a></li>
                        <li class="dropdown col-xs-12 col-md-1 "><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('kikala_front_formaCreate') }}">formaCreate</a></li>
                        <li class="dropdown col-xs-12 col-md-1 "><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('kikala_front_login') }}">Login</a></li>
                        <li class="dropdown col-xs-12 col-md-1 "><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('kikala_front_register') }}">register</a></li>
                    </ul>
                </nav>
            </header>
        </div>    
        <div id="wrapper" class="container">    
            <section class="col-xs-12 col-md-8">
                {% block body %}{% endblock %}
            </section>

            <aside id="colD" class="col-xs-12 col-md-3 col-md-offset-1">
                 {% block aside %}{% endblock %}
            </aside>

        </div>
            <footer>
                <div id="bas" class="container">
                <nav id="navbas" class="col-xs-12 col-md-8">
                    <ul class="nav nav-pills">
                        <li class="dropdown col-xs-12 col-md-1"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('kikala_front_homepage') }}">home</a></li>
                        <li class="dropdown col-xs-12 col-md-1 "><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('kikala_front_legal') }}">Légal</a></li>
                        <li class="dropdown col-xs-12 col-md-1 "><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('kikala_front_about') }}">A propos</a></li>
                        <li class="dropdown col-xs-12 col-md-1 "><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('kikala_front_register') }}">register</a></li>
                    </ul>
                </nav>               
                </div>             
            </footer>        
        {% block javascripts %}

           <script type="text/javascript" src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>{% endblock %}
    </body>
</html>
